body {
  background-color: rgb(243, 248, 255);
  font-family: "Roboto", sans-serif;
}

h1 {
  text-align: center;
  margin: 2rem;
}

form {
  width: 37rem;
  background-color: rgb(255, 255, 255);
  margin: 0 auto;
  padding: 1rem;
  border-radius: 4px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
}

section {
  margin-bottom: 1rem;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

label {
  display: block;
  margin: 0.5rem 0;
}

textarea {
  resize: none;
}

input,
textarea,
select {
  font: inherit;
  display: block;
  width: 100%;
  margin-bottom: 0.5rem;
  box-sizing: border-box;
}

input:focus,
textarea:focus,
select:focus {
  font: inherit;
  background-color: rgb(209, 226, 250);
}

.form-control-inline {
  display: flex;
}

.form-control-inline label {
  margin: 0;
}

.form-control-inline input {
  width: auto;
  margin-right: 0.5rem;
}

button {
  font: inherit;
  border: 1px solid rgb(51, 67, 100);
  padding: 0.5rem 1.5rem;
  border-radius: 4px;
  cursor: pointer;
}

#form-actions {
  text-align: right;
}

#clear-btn {
  background-color: transparent;
  color: rgb(51, 67, 100);
}

#submit-btn {
  background-color: rgb(51, 67, 100);
  color: white;
}

#clear-btn:hover {
  background-color: rgb(208, 215, 230);
}

#submit-btn:hover {
  background-color: rgb(69, 89, 129);
  border-color: rgb(69, 89, 129);
}
