body {
  margin: 0;
  background-color: rgb(89, 88, 88);
}

header {
  background-color: rgb(44, 44, 44);
  padding: 20px 50px;
  display: flex;
  justify-content: space-between;
}

#logo {
  font-size: 50px;
  text-transform: uppercase;
  text-decoration: none;
  color: rgb(249, 125, 35);
}

header a {
  font-size: 30px;
  text-decoration: none;
  color: rgb;
  color: rgb(249, 125, 35);
}

header ul {
  list-style: none;
  display: flex;
}

header li {
  margin: 0 30px;
}

main h1 {
  color: rgb(249, 125, 35);
  text-align: center;
  font-size: 80px;
}

main ul {
  width: 900px;
  margin: 0 auto;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: space-between;
  text-align: center;
}

main li {
  background-color: rgb(255, 167, 104);
  border-radius: 8px;
  overflow: hidden;
}

main img {
  width: 400px;
  height: 300px;
  object-fit: cover;
}
